<div class="row mt-5 justify-content-center oldscript">
    <div class="col-md-3 col-11">
        <div class="rounded-lg p-2 mb-3 bg-dark">
            <h4 class="text-center text-light"><u>Categories</u></h4>
            <button type="button" class="btn btn-secondary w-100 mt-2" (click)="chosenThread = thread.key" *ngFor="let thread of threadList">{{thread.key}}</button>
        </div>        
    </div>
    <div class="col-md-8 col-11 overflow-auto">
        <app-forums-page [thread]="chosenThread"></app-forums-page>
    </div>
</div>