<div class="d-flex flex-column bd-highlight rounded-lg bg-dark p-3 mb-3">
    <div class="row m-1 justify-content-center">
        <div class="col-12 bg-info rounded-lg">
            <h2 class="text-center"><u>{{thread}}</u></h2>
        </div>
    </div>
    <div class="mt-2">
        <div class="row ml-1 justify-content-center" *ngFor="let post of posts | async">
            <div class="text-right" *ngIf="post.key !== 'closed'">
                <img [src]="post.content.authorPic" class="rounded" style="max-width:50px; max-height:50px;"
                    [title]="post.content.author" [alt]="post.content.author">
            </div>
            <div class="col-12 col-md-11 mb-5" *ngIf="post.key !== 'closed'; else loading">
                <div class="card border-0">
                    <div class="card-body rounded-0 p-2 oldscript d-flex justify-content-between align-items-center">
                        <h5 class="font-weight-bolder align-middle">{{post.content.title}}</h5>
                        <button title="Delete Post" class="p-1 btn btn-danger justify-content-center"
                            *ngIf="post.content.uid === user.uid" (click)="deletePost(post.key)">
                            <img style="max-width:25px;"
                                src="https://webstockreview.net/images/garbage-clipart-road-clipart-18.png" />
                        </button>
                    </div>
                    <div class="card-title p-3 mb-0 oldscript rounded-bottom">
                        <p style="white-space: pre-line">{{post.content.body}}</p>
                        <button title="Star" class="p-1 btn btn-warning d-flex justify-content-center"
                            (click)="addStar(post)">
                            <img style="max-width:25px; max-height:25px;"
                                src="https://lh3.googleusercontent.com/proxy/eiQOBk6FA8nS4DjQ-w2EZbrgSCpXGszJ71Vl9PnUfLjJIgQfNkL0mPPx0F-UnTBvYRUYW9Dk6-m_GKtURTzWOy1ATT3hB3uSIX7-yYrxsjgusslScpa-QOcwHO7uN50mgbgqmJPNZ_fElHA2whcUUlZiWw" />
                        </button>
                        <b>Stars:</b> {{post.content.starCount}}
                    </div>
                </div>
            </div>
            <ng-template class="col-12 col-md-11" #loading>
                <div class="p-3 mr-3 w-100 bg-danger text-white text-center rounded">This thread has been closed by a
                    moderator</div>
            </ng-template>
        </div>
    </div>
    <form class="row m-1 justify-content-around mt-auto" (ngSubmit)="writeNewPost()" #postForm="ngForm" *ngIf="!closed">
        <div class="card col-12 p-3 form-group">
            <textarea type="text" class="form-control" id="text" placeholder="Write a post here..."
                [(ngModel)]="postText" name="text" maxlength="2000" rows="3">
            </textarea>
            <button type="submit" class=" mt-1 btn btn-success" [disabled]="!postText">Submit</button>
        </div>
    </form>
</div>