<div class="d-flex flex-column bd-highlight rounded-lg bg-dark p-3 mb-2">
    <div class="row m-1 justify-content-center">
        <div class="col-12 bg-info rounded-lg">
            <h2 class="text-center"><u>{{thread}}</u></h2>
        </div>
    </div>
    <app-posts-page (postNum)="postNum = $event" [user]="user" [page]="page" [thread]="thread" *ngIf="posts; else subThreadDisplay"></app-posts-page>
    <ng-template class="col-12" #subThreadDisplay>
        <button type="button" class="btn btn-secondary w-100 mt-2" *ngFor="let subThread of subThreads | async | slice: (page-1) * 10 : (page-1) * 10 + 10"
            (click)="selectSubThread(subThread)">{{subThread}}</button>
    </ng-template>
    <form class="row ml-1 mr-1 mt-4 justify-content-around" (ngSubmit)="createSubThread()" #subThreadForm="ngForm"
        *ngIf="!posts">
        <div class="card col-12 p-3 form-group">
            <input type="text" class="form-control" id="text" placeholder="Create a new thread here..."
                [(ngModel)]="subThreadName" name="text" maxlength="100"/>
            <button type="submit" class=" mt-1 btn btn-success" [disabled]="!subThreadName">Submit</button>
        </div>
    </form>
    <ngb-pagination class="d-flex mt-2 justify-content-end" [collectionSize]="postNum" [(page)]="page"></ngb-pagination>
</div>