<head>
    <link href="https://fonts.googleapis.com/css2?family=Oldenburg&display=swap" rel="stylesheet">
</head>

<!--Below is the navbar-->
<nav id="Navbar" class="navbar nav_scss p-1 align-items-center">
    <div class="col-12 col-md-10 nav-item text-left">
        <img src="https://media.discordapp.net/attachments/711730603065868338/714566116109713518/Atlas_Incomplete_Icon.png" alt="Logo" height="45px" style="float:left">
        <h1 class="oldscript">Atlas Incomplete</h1>
    </div>
    <button class="col-12 col-md-1 nav-item btn btn-success text-align-right oldscript">
        Login
    </button>
    <button class="col-12 col-md-1 nav-item btn btn-success text-align-right oldscript">
        Sign-up
    </button>
</nav>