<div class="row text-center justify-content-around">
    <div class="col-6" style="background-image: url('https://nataliedelgadomusic.files.wordpress.com/2012/12/scroll-background.png?w=745');
    background-position: center;
    background-size: cover;">
        <ngx-auth-firebaseui-register
            logoUrl="https://cdn.discordapp.com/attachments/467185767593148418/715769355111235615/logo.png"
            (onSuccess)="registerSuccess()" (onError)="printError($event)"
            (onLoginRequested)="logIn()">
        </ngx-auth-firebaseui-register>
    </div>
</div>