<div class="row text-center justify-content-around">
    <div class="col-6" style="background-image: url('https://nataliedelgadomusic.files.wordpress.com/2012/12/scroll-background.png?w=745');
    background-position: center;
    background-size: cover;">
        <ngb-alert [type]="'info'" [dismissible]="false">
            <strong>Warning!</strong> You must be signed in and have your email address confirmed to use the forums.
        </ngb-alert>
        <ngx-auth-firebaseui-register
            logoUrl="https://media.discordapp.net/attachments/467185767593148418/723316119523295825/Atlas_Incomplete_Icon_2.png"
            (onSuccess)="registerSuccess()" (onLoginRequested)="logIn()">
        </ngx-auth-firebaseui-register>
    </div>
</div>