/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.oldscript {
    font-family:'Oldenburg', cursive;
}
.bangers{
    font-family: 'Bangers', cursive;
    font-size: 6vw;
}
.card{
    background-color: #F5F9C3 !important;
    border-radius: 20px;
}
.card-body{
    background-color: black;
    color: white;
    border-radius: 0px 0px 20px 20px;
}
::-webkit-scrollbar {
    display: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
