<div class="col-12 p-5">
    <div class="card border-0 h-100">
        <div class="card-title pt-4 align-self-center">
            <img src="https://media.discordapp.net/attachments/705234726956433530/705525062215663727/Atlas_Incomplete_Logo_V1.png?width=1443&height=541"
                style="max-width: 40rem;" alt="Atlas Incomplete">
        </div>
        <div class="card-title p-3 oldscript">
            <h3 class="font-weight-bolder">Atlas Incomplete: The Ultimate Animated DnD Adventure!</h3>
            <p><sub><i>This is currently placeholder text from Urealms Live</i></sub></p>
            <p>{{text1}}</p>
            <p>{{text2}}</p>
            <p>{{text3}}</p>
            <p>{{text4}}</p>
        </div>
    </div>
</div>