<div id="Navbar" class="row m-0 mt-5 p-1 pt-5 text-center">
    <div class="col-md-5 col-12">
        <img src="https://66.media.tumblr.com/4aadb561ee128380f81a50f857e5f38b/tumblr_phdlg4LwT81u4vhy0o1_r1_1280.png"
            alt="PartyPic" width="100%" style="float:left">
    </div>
    <div class="col-1"></div>
    <div class="col-md-5 col-12 align-self-center">
        <div class="p-1" style="background-color: rgb(241, 243, 213, .6);">
            <h1 class="bangers"><u>Atlas Incomplete</u></h1>
            <h5 class="oldscript">Live on <a href="./landing-page.component.html">Twitch</a> every Sunday at ??? (EST)</h5>
        </div>
        <div class="pt-5 mt-5">
            <button type="button" class="btn btn-dark oldscript">
                <h1>Explore!</h1>
            </button>
        </div>
    </div>
</div>